<div class="pain-hero-wrapper text-center">
<h1 class="test">サンプル</h1>
  <div class="col-md-offset-3 col-md-3">
        <%= link_to 'top', pages_index_path, class: 'btn btn-block btn-white' %>
    </div>
</div>