@import "bootstrap-sprockets";
@import "bootstrap";
@import 'custom';

.test{
  font-size:40px;
  color:red;
  background-color:blue;
}
.test2{
  font-size:200;
  color:red;
}

.test3{
  font-size:500;
  text-align: center;
}